<%- include('../partials/header') %>
 <p><a href="/" class="nav-link">← Go Home</a></p>
 <h1 class="dm-serif-display">Sign In</h1>

  <% if (loginError) { %>
    <p>Login failed. Please try again.</p>
 <% } %>

  <form action="/auth/sign-in" method="POST" id="sign-in-form">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
    </div>
    <button type="submit">sign in</button>
 </form>
</body>
</html>