<%- include('../partials/header') %>
     <p><a href="/books" class="nav-link">← Back to Bookshelf</a></p> 

    <p>To delete '<%= book.title %> by <%= book.author %>', press the button below.</p>

    <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
        <button type="submit" id="delete-button">delete book</button>
    </form>
</body>
</html>