<!-- this is where /books/new will go -->
<%- include('../partials/header') %>
<p><a href="/" class="nav-link">← Go Home</a></p>
<h1 class="dm-serif-display ">New Book Form</h1>
<form action="/books" method="POST" id="new-book-form">
    <small>* required</small>
    <div class="checkbox">
        <input type="checkbox" name="isReading" id="isReading" />
        <label for="isReading">Check here if currently reading this book</label>
    </div>
    <div>
        <label for="title">Title*</label>
        <input type="text" name="title" id="title" required />
    </div>
    <div>
        <label for="author">Author*</label>
        <input type="text" name="author" id="author" required />
    </div>
    <div>
        <label for="genre">Genre*</label>
        <input type="text" name="genre" id="genre" required />
    </div>
    <div>
        <label for="language">Language*</label>
        <input type="text" name="language" id="language" required />
    </div>
    <div>
        <label for="isbn">ISBN*</label>
        <input type="text" name="isbn" id="isbn" required />
    </div>
    <div>
        <label for="year">Published Date</label>
        <input type="text" name="year" id="year" />
    </div>
    <div>
        <label for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher" />
    </div>
    <div>
        <label for="pages">Pages</label>
        <input type="text" name="pages" id="pages" />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea type="text" name="description" id="description" placeholder="What is the book about?"></textarea>
    </div>
    <div class="checkbox">
        <input type="checkbox" name="isCompleted" id="isCompleted" />
        <label for="isCompleted">Finished Book</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" name="isOwned" id="isOwned" />
        <label for="isOwned">Add to Books Owned</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" name="wantToRead" id="wantToRead" />
        <label for="wantToRead">Add to Reading List</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" name="isFavorite" id="isFavorite" />
        <label for="isFavorite">Add to Favorites</label>
    </div>
    <button type="submit" id="add-book-button">add book</button>
</form>

</body>
</html>