<ul class="collections-nav">
    <li><a href="/books/all">Browse All</a></li>
    <li><a href="/books">My Bookshelf</a></li>
    <li><a href="/books/reading-list">Reading List</a></li>
    <li><a href="/books/completed">Books Read</a></li>
    <li><a href="/books/owned">My Library</a></li>
    <li><a href="/books/favorites">Favorites</a></li>
</ul>