<ul class="collections-nav">
    <small><li><a href="/books">Bookshelf</a></li></small>
    <small><li><a href="/books/reading-list">Reading List</a></li></small>
    <small><li><a href="/books/completed">Finished Books</a></li></small>
    <small><li><a href="/books/owned">Books Owned</a></li></small>
    <small><li><a href="/books/favorites">Favorites</a></li></small>
</ul>