<!-- this is the / root page -->
<%- include('partials/header') %>
  <nav>
    <ul>
      <li><a href="/books" class="nav-link">View Bookshelf</a></li>
      <li><a href="/books/new" class="nav-link">Add New Book</a></li>
    </ul>
  </nav>
  <h1>Welcome to Bookshelf</h1>
  <p>Collect your favorite books 📚</p>
</body>
</html>