<!-- this is the / root page -->
<%- include('partials/header') %>
  <div id="welcome-page">
    <h1>Welcome to Bookshelf</h1>
    <p>Create and organize your own digital book collection 📚</p>
    <nav id="home-nav">
      <ul>
        <a href="/books" class="nav-link home"><li>view bookshelf</li></a>
        <a href="/search" class="nav-link home"><li>search books</li></a>
        <a href="/books/new" class="nav-link home"><li>add new book</li></a>
      </ul>
    </nav>
  </div>
  <img src="/img/magical-library-cat-stockcake.jpg" id="home-image" alt="cat sitting in magical library with books"/>
</body>
</html>