@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, sans-serif;
    gap: 20px;
    letter-spacing: 0.03rem;
    background-color: #FBF6EF;
    color: #51433E;
}

a {
    text-decoration: none;
    color: #51433E;
}

a:hover {
    color:#D8735A;
    letter-spacing: 0rem;
    font-weight: 800;
}

a.nav-link {
    padding: 2px 3px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: #5C4D47;
}

a.nav-link:hover {
    color: #D8735A;
    font-weight: 700;
}

a.nav-link.home {
    font-size: .95rem;
    letter-spacing: 0.01rem;
    font-weight: 700;
    color: #ffffff;
}

#home-nav li {
    background-color: #59736A;
    padding: 12px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#home-nav li:hover {
    background-color: #475C55;
    transform: scale(1.06);
}

#home-nav ul div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a.select-result {
    background-color: #59736A;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav ul, ul.collections-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    list-style-type: none;
}

ul.collections-nav {
    background-color: #59736A;
    padding: 9px;
    width: 75%;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

.collections-nav a {
    color: #ffffff;
    font-weight: 600;
    font-size: .85rem;
    letter-spacing: 0.03rem;
    text-align: center;
}

.collections-nav li {
    text-align: center;
    min-width: 87px;
}

.collections-nav a:hover {
    font-weight: 800;
    letter-spacing: 0rem;
}

li.book a {
    padding: 2.8px;
    display: inline-block;
    font-size: 1.1rem;
}

ul.book-list {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    width: 85%;
}

#book-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5%;
}

#new-book-form, #edit-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

#new-book-form div, #edit-book-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#new-book-form div input[type='text'], #edit-book-form div input[type='text'] {
    padding: 4px;
    width: 200px;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.04rem;
}

#new-book-form div textarea, #edit-book-form div textarea {
    width: 340px;
    height: 110px;
    padding: 5px;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.04rem;
}

#edit-book-form div textarea {
    width: 360px;
    height: 140px;
}

#new-book-form div small {
    font-size: .65rem;
    letter-spacing: 0rem;
}

#new-book-form div.checkbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

button {
    width: 100%;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.02rem;
    cursor: pointer;
    background-color: #D8735A;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-weight: 700;
}

button:hover, #edit-book-link:hover, #delete-book-link:hover {
    background-color: #D46549;
    transform: scale(1.05);
}

a.select-result:hover {
    background-color: #475C55;
    letter-spacing: 0.03rem;
    transform: scale(1.05);
}

#edit-book-link, #delete-book-link {
    letter-spacing: 0.02rem;
    cursor: pointer;
    background-color: #DC816A;
    color: #ffffff;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
}

#show-page-buttons-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#add-book-button {
    width: 100px;
}

#edit-book-button {
    width: 130px;
}

p#book-status {
    font-weight: 700;
    font-size: .9rem;
    background-color: #506860;
    width: 200px;
    padding: 2px;
    text-align: center;
    color: white;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

#favorite-badge {
    font-family: system-ui, sans-serif;
    font-size: .7rem;
    background-color: #15796E;
    color: white;
    text-align: center;
    padding: 4px 2px;
    width: 90px;
}

#favorites-list li::marker {
    content: '♥︎ ';
    font-size: 1.1rem;
}

#home-image {
    width: 70%;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
}

div#welcome-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#welcome-page h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

div#book-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1.dm-serif-display {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
}

h2.dm-serif-display, h1.book-title.dm-serif-display {
    font-size: 1.9rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

h2.book-title.dm-serif-display {
    font-size: 1.5rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

#book-section img {
    object-fit: cover;
    width: 30%;
    height: 40%;
    max-width: 300px;
    max-height: 400px;
    margin: 5px;
    padding: 10px;
}

#delete-div {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    margin: 5px;
}

#delete-button {
    background-color: red;
    width: 120px;
}

#delete-button:hover {
    background-color: rgb(211, 7, 7);
    color: white;
}

label[for="isReading"] {
    font-size: .8rem;
}

@media (max-width: 550px) {
    div#book-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #book-section img {
        object-fit: cover;
        width: 40%;
        max-width: 300px;
        margin: 5px;
        padding: 10px;
    }

    #welcome-page h1 {
        font-size: 2rem;
    }

    h2.dm-serif-display {
        font-size: 1.4rem;
    }
}

@media (max-width: 625px) {
    .collections-nav a {
        font-weight: 600;
        font-size: .8rem;
    }

    .collections-nav li {
        text-align: center;
    }

    ul.collections-nav {
        padding: 7px;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
    }
}

#search-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

#search-form input[type='text'] {
    padding: 6px;
    width: 212px;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.03rem;
}

#search-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#search-form select {
    padding: 6px;
    text-align: center;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.03rem;
    font-size: 0.92rem;
}

button#search-button {
    width: 140px;
}

div.search-result-details {
    border: 1px solid #506860;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 320px;
}

.search-result-details div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-result-details div.result-bundle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.search-result-details h2 {
    font-size: .9rem;
    font-weight: 300;
}

.search-result-details h3 {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: system-ui, sans-serif;
}

.search-result-details a {
    max-width: 66px;
}

.search-result-details img {
    width: 140px;
    height: 180px;
    object-fit: contain;
}

#search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.add-book-from-search {
    width: 100px;
    font-size: .8rem;
}

button.add-book-from-search {
    background-color:#59736A;
}

button.add-book-from-search:hover {
    background-color: #475C55;
}

.edition-divs {
    border: 1px solid #59736A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.edition-divs img {
    height: 100px;
    width: 90px;
    object-fit: contain;
}

.edition-divs div {
    width: 375px;
}

#editions-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="search"].search-shelf, input[type="search"].search-browse  {
    padding: 5px;
    letter-spacing: 0.03rem;
    width: 220px;
    font-size: 0.93rem;
    font-family: system-ui, sans-serif;
    border: 1px solid #51433E;
    border-radius: 3px;
}

.hidden {
    display: none;
}

#new-account-form, #sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#new-account-form div, #sign-in-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#new-account-form button, #sign-in-form button {
    width: 100px;
}

#new-account-form div input[type='text'], #new-account-form div input[type='password'],
#sign-in-form div input[type='text'], #sign-in-form div input[type='password'] {
    padding: 3.5px;
    width: 160px;
    font-family: system-ui, sans-serif;
    letter-spacing: 0.04rem;
    text-align: center;
}

#home-tagline {
    font-size: 1.45rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

#welcome-page header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-link {
    letter-spacing: 0.02rem;
    color: #5C4D47;
    font-weight: 700;
}

.auth-link:hover {
    color: #D8735A;
    letter-spacing: 0.02rem;
    font-weight: 700;
}

nav.user-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

/* BROWSE */

#browse-books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

div.browse-book {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 1px solid black;
    padding: 10px;
    gap: 5px;
}

div.browse-book img {
    width: 140px;
    height: 170px;
    object-fit: contain;
}

div.browse-book-metadata {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1px;
}

p.browse-book-header {
    font-weight: 900;
    font-size: 0.66rem;
    color: #59736A;
}

p.browse-book-details {
    font-size: 1rem;
}

p.browse-book-publish-date {
    font-size: 0.72rem;
}

div.browse-book div a {
    width: 60px;
    text-align: center;
    background-color: #59736A;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    padding: 7px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.browse-book div a:hover {
    background-color: #475C55;
    letter-spacing: 0.03rem;
    transform: scale(1.05);
}

.add-book-from-browse {
    letter-spacing: 0.02rem;
    cursor: pointer;
    background-color: #DC816A;
    color: #ffffff;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
}

.add-book-from-browse:hover {
    background-color: #D46549;
    transform: scale(1.05);
}

a.view-in-bookshelf-link {
    width: 180px;
    text-align: center;
    background-color: #59736A;
    color: white;
    font-size: .9rem;
    font-weight: 700;
    padding: 12px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a.view-in-bookshelf-link:hover {
    background-color: #475C55;
    letter-spacing: 0.03rem;
    transform: scale(1.05);
}